<div class="row">
  <div class="pull-left m-l-15">
    <h4 class="pull-left">Edit Institution</h4>
  </div>
  <div class="pull-right">
    <button mat-button [mat-dialog-close]="true">
      <mat-icon
        mdTooltip="close"
        class="mat-icon material-icons pull-right"
        role="img"
        aria-hidden="true"
        style="cursor: pointer"
        >clear</mat-icon
      >
    </button>
  </div>
</div>
<div class="row">
  <form #editForm1="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10" myName2>
      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Institution Name"
          [(ngModel)]="institutionName"
          name="institutionName"
          minlength="3"
          maxlength="100"
          required
          #validInstitutionName="ngModel"
        />
        <mat-hint *ngIf="validInstitutionName.touched" myName2>
          <span class="errorText" [hidden]="!validInstitutionName.errors"
            >Enter atleast 3 characters</span
          >
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10" myAddress>
      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Address"
          maxlength="300"
          [(ngModel)]="address"
          name="address"
          required
        />
      </mat-form-field>
    </div>
    <!-- </form> -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10">
      <mat-form-field style="width: 100%">
        <input
          matInput
          [pattern]="website_expression"
          placeholder="Website"
          [(ngModel)]="website"
          name="website"
          #valid_website="ngModel"
        />
        <mat-hint
          class="errorText"
          [hidden]="!valid_website.hasError('pattern')"
          >Enter valid Website
        </mat-hint>
      </mat-form-field>
    </div>
    <!-- <form #editForm2="ngForm" autocomplete="off"> -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10" myName2>
      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Contact Person"
          [(ngModel)]="contact_person_name"
          name="contact_person_name"
          #valid_contactname="ngModel"
        />
        <mat-hint
          class="errorText"
          *ngIf="valid_contactname.errors && valid_contactname.touched"
          >Enter minimum 2 characters
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10" appmyMobileNumber>
      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Contact Number"
          minlength="10"
          maxlength="10"
          [(ngModel)]="contact_number"
          name="contact_number"
          #validMobileNumber="ngModel"
          [pattern]="mobileNoPattern"
        />
        <mat-hint
          class="errorText"
          [hidden]="!validMobileNumber.hasError('pattern')"
          >Required 10 digit valid mobile number
        </mat-hint>
      </mat-form-field>
    </div>
    <!-- </form> -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10">
      <mat-form-field style="width: 100%">
        <input
          matInput
          type="email"
          placeholder="EmailID"
          [(ngModel)]="emailID"
          name="emailID"
          [pattern]="email_expression"
          #validEmail="ngModel"
        />
        <mat-hint class="errorText" [hidden]="!validEmail.hasError('pattern')"
          >Valid Email ID is required
        </mat-hint>
      </mat-form-field>
    </div>

    <!-- <form #form2="ngForm" autocomplete="off"> -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10" myName2>
      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Secondary Contact Person"
          [(ngModel)]="secondary_contact_person_name"
          [disabled]="validEmail.hasError('pattern')"
          name="secondary_contact_person_name"
          minlength="2"
          maxlength="50"
          #valid_contactname1="ngModel"
        />
        <!-- <mat-hint class="errorText" *ngIf="valid_contactname1.errors && valid_contactname1.touched">Enter atleast 2 characters
          </mat-hint> -->
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10" appmyMobileNumber>
      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Secondary Contact Number"
          minlength="10"
          maxlength="10"
          [(ngModel)]="secondary_contact_number"
          [disabled]="validEmail.hasError('pattern')"
          name="secondary_contact_number"
          #validMobileNumber1="ngModel"
          [pattern]="mobileNoPattern"
        />
        <!-- <mat-hint class="errorText" *ngIf="validMobileNumber1.errors && validMobileNumber1.touched">Enter 10 digit mobile number
          </mat-hint> -->
      </mat-form-field>
    </div>
    <!-- </form> -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10">
      <mat-form-field style="width: 100%">
        <input
          matInput
          type="email"
          placeholder="Secondary EmailID"
          [(ngModel)]="secondary_emailID"
          [disabled]="validEmail.hasError('pattern')"
          name="secondary_emailID"
          [pattern]="email_expression"
          #validEmail1="ngModel"
        />
        <mat-hint class="errorText" [hidden]="!validEmail1.hasError('pattern')"
          >Valid Email ID is required
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10" myName2>
      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Tertiary Contact Person"
          [(ngModel)]="tertiary_contact_person_name"
          [disabled]="validEmail1.hasError('pattern')"
          name="tertiary_contact_person_name"
          minlength="2"
          maxlength="50"
          #valid_contactname2="ngModel"
        />
        <!-- <mat-hint class="errorText" *ngIf="valid_contactname2.errors && valid_contactname2.touched">Enter atleast 2 characters
          </mat-hint> -->
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10" appmyMobileNumber>
      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Tertiary Contact Number"
          minlength="10"
          maxlength="10"
          [(ngModel)]="tertiary_contact_number"
          [disabled]="validEmail1.hasError('pattern')"
          name="tertiary_contact_number"
          #validMobileNumber2="ngModel"
          [pattern]="mobileNoPattern"
        />
        <!-- <mat-hint class="errorText" *ngIf="validMobileNumber2.errors && validMobileNumber2.touched">Enter 10 digit mobile number
          </mat-hint> -->
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-10">
      <mat-form-field style="width: 100%">
        <input
          matInput
          type="email"
          placeholder="Tertiary EmailID"
          [(ngModel)]="tertiary_emailID"
          [disabled]="validEmail1.hasError('pattern')"
          name="tertiary_emailID"
          [pattern]="email_expression"
          #validEmail2="ngModel"
        />
        <mat-hint class="errorText" [hidden]="!validEmail2.hasError('pattern')"
          >Valid Email ID is required
        </mat-hint>
      </mat-form-field>
    </div>
  </form>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
    <button
      mat-raised-button
      color="accent"
      class="pull-right"
      [disabled]="!editForm1.valid"
      (click)="update()"
    >
      Update
    </button>
  </div>
</div>
