<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12" *ngIf="!showFormFlag">
      <h4 class="pull-left">Institute Type Master</h4>
    </div>
    <div class="col-xs-12 col-sm-12" *ngIf="showFormFlag">
      <h4 class="pull-left">Create Institute Type</h4>
    </div>
    <div class="col-12">
      <form #searchFields="ngForm" autocomplete="off" class="row">
        <div class="col-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Serviceline</mat-label>
            <mat-select
              [disabled]="disableSelection"
              [(ngModel)]="service"
              name="service"
              required
              (selectionChange)="
                getStates(service.serviceID, service.isNational);
                setIsNational(service.isNational)
              "
            >
              <mat-option *ngFor="let item of services" [value]="item">
                {{ item.serviceName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>State</mat-label>
            <mat-select
              [disabled]="disableSelection || isNational"
              [(ngModel)]="state"
              name="state"
              required
              (selectionChange)="
                setProviderServiceMapID(state.providerServiceMapID)
              "
            >
              <mat-option *ngFor="let item of states" [value]="item">
                {{ item.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>

  <div
    style="text-align: end"
    *ngIf="searchResultArray.length !== 0 && showTableFlag"
  >
    <mat-form-field id="filterbox">
      <input
        matInput
        placeholder="In-Table Search"
        #filterTerm
        (keyup)="filterComponentList(filterTerm.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12" *ngIf="showTableFlag">
      <div class="table responsive">
        <table
          mat-table
          [dataSource]="this.filteredsearchResultArray"
          class="table table-striped table-hover"
        >
          <ng-container matColumnDef="SNo">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="InstituteType">
            <th mat-header-cell *matHeaderCellDef>Institute Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.institutionType }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.institutionTypeDesc }}
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                matTooltip="edit"
                *ngIf="!element.deleted"
                class="mat-icon material-icons"
                role="img"
                aria-hidden="true"
                style="cursor: pointer"
                (click)="openEditModal(element)"
                >edit</mat-icon
              >
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                *ngIf="element.deleted"
                mat-raised-button
                class="mat_green"
                color="accent"
                (click)="toggle_activate(element.institutionTypeID, false)"
              >
                Activate
              </button>
              <button
                *ngIf="!element.deleted"
                mat-raised-button
                class="mat_blue"
                color="primary"
                (click)="toggle_activate(element.institutionTypeID, true)"
              >
                Deactivate
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div
          class="pull-center"
          style="margin-top: 35px; text-align: center"
          *ngIf="this.filteredsearchResultArray.data.length === 0"
        >
          <strong>No Records Found</strong>
        </div>
        <mat-paginator
          [hidden]="filteredsearchResultArray.data.length === 0"
          [pageSizeOptions]="[5, 10, 25]"
          [pageSize]="5"
          showFirstLastButtons
        ></mat-paginator>
        <div>
          <button
            mat-raised-button
            color="primary"
            class="pull-right mat_blue"
            (click)="showForm()"
          >
            Add Institute Type
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showFormFlag">
    <div class="col-12">
      <form #entryField="ngForm" autocomplete="off" class="row">
        <div class="col-3 m-t-20">
          <mat-form-field [style.width]="'100%'" appVehicleNONew>
            <mat-label>Institute Type</mat-label>
            <input
              matInput
              [(ngModel)]="instituteType"
              (keyup)="checkExistance(instituteType)"
              name="instituteType"
              minlength="3"
              maxlength="150"
              #institute="ngModel"
              required
            />
            <mat-hint>
              <span
                class="error_text"
                *ngIf="
                  institute.touched && institute.errors && institute !== null
                "
                >Institute type is required</span
              >
              <span class="error_text" *ngIf="institute.valid && InstituteExist"
                >Institute Type already exists</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3 m-t-20">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Description</mat-label>
            <input
              matInput
              appTextAreaValidator
              [(ngModel)]="description"
              name="description"
              maxlength="300"
            />
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-t-20">
          <button
            mat-mini-fab
            color="primary"
            *ngIf="entryField.valid"
            class="xs-pull-right sm-pull-right md-pull-left lg-pull-left mat_icon_white"
            (click)="add_obj(instituteType, description)"
          >
            <mat-icon
              mdSuffix
              class="mat-icon material-icons"
              role="img"
              aria-hidden="true"
              style="cursor: pointer"
              >add</mat-icon
            >
          </button>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-12 m-t-15">
      <div class="table-responsive" *ngIf="bufferArray.data.length > 0">
        <table
          mat-table
          [dataSource]="this.bufferArray.data"
          class="table table-striped table-hover"
        >
          <ng-container matColumnDef="SNo">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="InstituteType">
            <th mat-header-cell *matHeaderCellDef>Institute Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.institutionType }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.institutionTypeDesc }}
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                class="cursorPointer"
                matTooltip="delete"
                (click)="removeObj(bufferArray.data.indexOf(element))"
                >delete</mat-icon
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 m-t-10">
      <button
        mat-raised-button
        [disabled]="bufferArray.data.length === 0"
        class="pull-right mat_green"
        color="accent"
        (click)="save()"
      >
        Save
      </button>
      <button
        mat-raised-button
        class="pull-left mat_blue"
        color="primary"
        (click)="navigateToPrev()"
      >
        Back
      </button>
    </div>
  </div>
</div>
