<div class="row" *ngIf="showTable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Project Master</h4>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef>S.No.</th>
      <td mat-cell *matCellDef="let element">{{ element.sno }}</td>
    </ng-container>

    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef>Project Name</th>
      <td mat-cell *matCellDef="let element">{{ element.projectName }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          *ngIf="!element.deleted"
          matTooltip="edit"
          class="mat-icon material-icons"
          aria-hidden="true"
          style="cursor: pointer"
          (click)="updateProjectName(element, false)"
          >edit</mat-icon
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="deleted">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          *ngIf="element.deleted === true"
          mat-raised-button
          color="accent"
          class="m-r-10 mat_green"
          (click)="updateProjectName(element, false)"
        >
          Activate
        </button>
        <button
          *ngIf="element.deleted === false"
          mat-raised-button
          color="primary"
          class="m-r-10 mat_blue"
          (click)="updateProjectName(element, true)"
        >
          Deactivate
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div
    class="pull-center"
    style="margin-top: 5px; text-align: center"
    *ngIf="dataSource.data.length === 0"
  >
    <strong>No Records Found </strong>
  </div>
  <mat-paginator
    style="display: unset"
    [hidden]="dataSource.data.length === 0"
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="5"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

<div class="col-xs-12" style="float: right" *ngIf="showTable">
  <button
    mat-raised-button
    class="pull-right mat_blue"
    (click)="createProject()"
    color="primary"
  >
    Add Project
  </button>
</div>
<div class="row" *ngIf="!showTable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Create Project Name</h4>
  </div>
  <form #projectNameForm="ngForm" autocomplete="off">
    <div>
      <mat-form-field>
        <mat-label>Project Name </mat-label>
        <input matInput [(ngModel)]="projectName" name="projectName" />
      </mat-form-field>
    </div>
  </form>
  <div class="col-xs-12">
    <button
      mat-raised-button
      style="float: right"
      class="pull-right mat_blue"
      (click)="addProject()"
      color="primary"
      [disabled]="!projectName"
    >
      Submit
    </button>
  </div>
  <div class="col-xs-12">
    <button
      mat-raised-button
      style="float: left"
      class="pull-right mat_blue"
      (click)="goBack()"
      color="primary"
    >
      Back
    </button>
  </div>
</div>
