<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 *ngIf="!editMode && !saveEditMode">Procedure Master</h4>
    <h4 *ngIf="saveEditMode && !editMode">Create Procedure</h4>
    <h4 *ngIf="editMode">Edit Procedure</h4>
    <form #stateService="ngForm" autocomplete="off">
      <div class="row m-t-15">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <mat-form-field>
            <mat-label>Serviceline</mat-label>
            <mat-select
              required
              name="Services"
              disabled="{{ disableSelection }}"
              [style.width]="'100%'"
              [(ngModel)]="serviceline"
              (selectionChange)="getStates(serviceline.serviceID)"
            >
              <mat-option *ngFor="let item of services_array" [value]="item">
                {{ item.serviceName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select
              required
              disabled="{{ disableSelection }}"
              [style.width]="'100%'"
              [(ngModel)]="searchStateID"
              name="searchStateID"
              (selectionChange)="setProviderServiceMapID()"
            >
              <mat-option *ngFor="let state of provider_states" [value]="state">
                {{ state.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div style="display: block" class="m-t-10" [formGroup]="procedureForm">
        <div class="row" *ngIf="saveEditMode">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-20">
            <mat-form-field class="input-full-width mat_form_field_width_one">
              <mat-label>Procedure Name</mat-label>
              <input
                id="procedure-name"
                required
                matInput
                appusernameWithSpaceValidator
                [style.width]="'100%'"
                formControlName="name"
                maxlength="99"
                (selectionChange)="procedureUnique()"
              />
              <mat-hint>
                <span
                  class="error_text"
                  *ngIf="
                    procedureForm.get('name')?.hasError('required') &&
                    procedureForm.get('name')?.touched
                  "
                  >Procedure Name is required</span
                >
                <span class="error_text" *ngIf="alreadyExist"
                  >Procedure name already exist</span
                >
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field>
              <mat-label>Procedure Type</mat-label>
              <mat-select
                id="procedure-type"
                required
                [style.width]="'100%'"
                [disabled]="editMode"
                formControlName="type"
              >
                <mat-option value="Laboratory"> Laboratory </mat-option>
                <mat-option value="Radiology"> Radiology </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="clearfix visible-sm"></div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-40">
            <span>Gender:*</span>
            <mat-radio-group formControlName="gender" [required]="true">
              <mat-radio-button class="p-r-10" value="male"
                >Male</mat-radio-button
              >
              <mat-radio-button class="p-r-10" value="female"
                >Female</mat-radio-button
              >
              <mat-radio-button class="p-r-10" value="unisex"
                >Unisex</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <div class="clearfix visible-md"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <input matInput style="display: none" />
            <mat-form-field>
              <mat-label>Procedure IOT</mat-label>
              <mat-select
                id="procedure-iot"
                [style.width]="'100%'"
                formControlName="iotProcedureID"
              >
                <mat-option ng-value="undefined"> Not Applicable </mat-option>
                <mat-option
                  *ngFor="let item of iotProcedurearray; let i = index"
                  [value]="item.iotProcedureID"
                >
                  {{ item.procedureName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="clearfix visible-sm visible-lg"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field
              class="input-full-width mat_form_field_width_one"
              appmyProviderName
            >
              <mat-label>Description</mat-label>
              <textarea
                matInput
                required
                mdTextareaAutosize
                [style.width]="'100%'"
                formControlName="description"
                maxlength="99"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-35">
            <mat-checkbox formControlName="isMandatory" id="isMandatory"
              >Mandatory Procedure</mat-checkbox
            >
          </div>
          <div
            class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-35"
            *ngIf="
              procedureForm.controls['iotProcedureID'].value !== null &&
              procedureForm.controls['iotProcedureID'].value !== undefined
            "
          >
            <mat-checkbox formControlName="isCalibration" id="isCalibration"
              >Mandatory Calibration</mat-checkbox
            >
          </div>
        </div>
      </div>
    </form>
    <div class="row m-t-10" *ngIf="saveEditMode">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button
          color="primary"
          class="pull-left mat_blue"
          id="backButton"
          mat-raised-button
          (click)="back()"
        >
          Back
        </button>
        <button
          *ngIf="!editMode"
          class="pull-right mat_green"
          id="saveButton"
          mat-raised-button
          color="accent"
          [disabled]="procedureForm.invalid || alreadyExist"
          (click)="saveProcedure()"
        >
          Save
        </button>
        <button
          *ngIf="editMode"
          class="pull-right mat_green"
          id="updateButton"
          mat-raised-button
          color="accent"
          [disabled]="procedureForm.invalid || alreadyExist"
          (click)="updateProcedure()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="tableMode">
  <div style="text-align: end" *ngIf="procedureList.data.length > 0">
    <mat-form-field
      class="input-full-width mat_form_field_width_one"
      id="filterbox"
    >
      <input
        matInput
        placeholder="In-Table Search"
        #filterTerm
        (keyup)="filterprocedureList(filterTerm.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="row">
    <div #tabledData class="col-xs-12 col-sm-12">
      <div class="">
        <table
          mat-table
          [dataSource]="filteredprocedureList"
          class="table table-striped table-hover"
        >
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>SNo.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="procedureName">
            <th mat-header-cell *matHeaderCellDef>Procedure Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.procedureName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="procedureType">
            <th mat-header-cell *matHeaderCellDef>Procedure Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.procedureType }}
            </td>
          </ng-container>
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
          </ng-container>
          <ng-container matColumnDef="procedureDesc">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.procedureDesc }}
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                matTooltip="Edit"
                class="mat-icon material-icons"
                role="img"
                aria-hidden="true"
                style="cursor: pointer"
                *ngIf="!element.deleted"
                (click)="
                  showForm();
                  configProcedure(
                    element,
                    filteredprocedureList.data.indexOf(element)
                  )
                "
                >edit</mat-icon
              >
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                *ngIf="element.deleted"
                mat-raised-button
                class="mat_green"
                color="accent"
                (click)="
                  toggleProcedure(
                    element.procedureID,
                    filteredprocedureList.data.indexOf(element),
                    false,
                    element.procedureName
                  )
                "
              >
                Activate
              </button>
              <button
                *ngIf="!element.deleted"
                mat-raised-button
                class="mat_blue"
                color="primary"
                (click)="
                  deactivatetoggleProcedure(
                    element.procedureID,
                    filteredprocedureList.data.indexOf(element),
                    true
                  )
                "
              >
                Deactivate
              </button>
            </td>
          </ng-container>
          <!-- <thead>
                        <tr>
                            <th width="5%">S.No.</th>
                            <th width="15%">Procedure Name</th>
                            <th width="20%">Procedure Type</th>
                            <th width="15%">Gender</th>
                            <th width="25%">Description</th>
                            <th width="5%">Edit</th>
                            <th width="5%">Action</th>
                            
                        </tr>
                    </thead> -->
          <!-- <tbody>
                        <tr *ngIf="filteredprocedureList.length == 0">
                            <td colspan="7" class="record-not-found">No records found</td>
                        </tr>
                        <tr *ngFor="let item of md2.data;let i = index ">
                            <td>{{filteredprocedureList.indexOf(item)+1}}</td>
                            <td>{{item.procedureName}}</td>
                            <td>{{item.procedureType}}</td>
                            <td>{{item.gender}}</td>
                            <td>{{item.procedureDesc}}</td>
                            <td>
                                <mat-icon matTooltip="Edit" *ngIf="!item.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer"
                                    (click)="showForm();configProcedure(item, filteredprocedureList.indexOf(item))">edit</mat-icon>
                            </td>
                            <td>
                                <button *ngIf="item.deleted" color="accent" mat-raised-button (click)="toggleProcedure(item.procedureID, filteredprocedureList.indexOf(item), false,item.procedureName)">Activate</button>
                                <button *ngIf="!item.deleted" color="primary" mat-raised-button (click)="deactivatetoggleProcedure(item.procedureID, filteredprocedureList.indexOf(item), true)">Deactivate</button>

                            </td>
                        </tr>
                    </tbody> -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div>
          <button
            *ngIf="!editMode"
            class="pull-right mat_blue"
            color="primary"
            id="resetButton"
            mat-raised-button
            (click)="showForm(); resetProcedure()"
          >
            Create New Procedure
          </button>
        </div>
        <div
          class="pull-center"
          style="margin-top: 35px; text-align: center"
          *ngIf="filteredprocedureList.data.length === 0"
        >
          <strong>No Records Found</strong>
        </div>
        <mat-paginator
          [hidden]="filteredprocedureList.data.length === 0"
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="5"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
