<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 *ngIf="showListOfZonemapping">Zone District Mapping</h4>
      <h4 *ngIf="!editable && !showListOfZonemapping">Zone District Mapping</h4>
      <h4 *ngIf="editable && !showListOfZonemapping">
        Edit Zone District Mapping
      </h4>
      <form #searchForm="ngForm" autocomplete="off">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Serviceline</mat-label>
              <mat-select
                (selectionChange)="getStates(service)"
                [(ngModel)]="service"
                name="service"
                required
                #bindService="ngModel"
                disabled="{{ disableSelection }}"
              >
                <mat-option *ngFor="let item of services" [value]="item">
                  {{ item.serviceName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'">
              <mat-label>State</mat-label>
              <mat-select
                [(ngModel)]="state"
                [disabled]="disableSelection"
                (selectionChange)="
                  setProviderServiceMapID(state.providerServiceMapID)
                "
                name="state"
                #bindState="ngModel"
                required
              >
                <mat-option *ngFor="let item of states" [value]="item">
                  {{ item.stateName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
    <div
      style="text-align: end"
      *ngIf="
        availableZoneDistrictMappings.length !== 0 && showMappings && !editable
      "
    >
      <mat-form-field id="filterbox">
        <input
          matInput
          placeholder="In-Table Search"
          #filterTerm
          (keyup)="filterComponentList(filterTerm.value)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
      *ngIf="showListOfZonemapping && showMappings && !editable"
    >
      <div class="table-responsive">
        <table
          mat-table
          class="table table-striped table-hover"
          [dataSource]="filteredavailableZoneDistrictMappings"
        >
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>SNo.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="stateName">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element">
              {{ element.m_providerServiceMapping.state.stateName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="zoneName">
            <th mat-header-cell *matHeaderCellDef>Zone</th>
            <td mat-cell *matCellDef="let element">{{ element.zoneName }}</td>
          </ng-container>
          <ng-container matColumnDef="districtName">
            <th mat-header-cell *matHeaderCellDef>District</th>
            <td mat-cell *matCellDef="let element">
              {{ element.districtName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                matTooltip="Edit"
                class="mat-icon material-icons"
                role="img"
                aria-hidden="true"
                style="cursor: pointer"
                *ngIf="!element.deleted"
                (click)="editZoneMapping(element)"
                >edit</mat-icon
              >
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                *ngIf="element.deleted"
                mat-raised-button
                color="accent"
                class="mat_green"
                (click)="updateZoneMappingStatus(element, element.zoneDeleted)"
              >
                Activate
              </button>
              <button
                *ngIf="!element.deleted"
                mat-raised-button
                color="primary"
                class="mat_blue"
                (click)="updateZoneMappingStatus(element, false)"
              >
                Deactivate
              </button>
            </td>
          </ng-container>

          <tfoot>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </tfoot>
        </table>

        <div>
          <td colspan="3" class="p-r-0 m-t-10" style="float: right">
            <button
              mat-raised-button
              color="primary"
              class="pull-right mat_blue"
              (click)="showForm()"
            >
              Create Zone Mapping
            </button>
          </td>
        </div>
        <div
          class="pull-center"
          style="margin-top: 35px; text-align: center"
          *ngIf="filteredavailableZoneDistrictMappings.data.length === 0"
        >
          <strong>No Records Found</strong>
        </div>
        <mat-paginator
          [hidden]="filteredavailableZoneDistrictMappings.data.length === 0"
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="5"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>

    <div class="row">
      <div *ngIf="!showListOfZonemapping && !showMappings">
        <div class="col-12">
          <form
            #zoneDistrictMappingForm="ngForm"
            autocomplete="off"
            class="row"
          >
            <div class="col-3 m-t-15">
              <mat-form-field [style.width]="'100%'">
                <mat-label>Zone</mat-label>
                <mat-select
                  required
                  [(ngModel)]="zoneID"
                  name="zoneID"
                  #zoneG="ngModel"
                  (selectionChange)="checkZone(zoneID.zoneID, service, state)"
                >
                  <mat-option
                    *ngFor="let zone of availableZones"
                    [value]="zone"
                  >
                    {{ zone.zoneName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3 m-t-15" *ngIf="!editable">
              <mat-form-field [style.width]="'100%'">
                <mat-label>District</mat-label>
                <mat-select
                  multiple
                  [(ngModel)]="districtID"
                  name="districtID"
                  #districtV="ngModel"
                  required
                >
                  <mat-option
                    *ngFor="let district of availableDistricts"
                    [value]="district"
                  >
                    {{ district.districtName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3 m-t-15" *ngIf="editable">
              <mat-form-field [style.width]="'100%'">
                <mat-label>District</mat-label>
                <mat-select
                  [(ngModel)]="districtID"
                  name="districtID"
                  #districtV="ngModel"
                  required
                >
                  <mat-option
                    *ngFor="let district of availableDistricts"
                    [value]="district"
                  >
                    {{ district.districtName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3 m-t-15">
              <button
                md-mini-fab
                color="primary"
                *ngIf="zoneDistrictMappingForm.valid && !editable"
                class="xs-pull-right sm-pull-right md-pull-left lg-pull-left mat_icon_white"
                (click)="
                  addZoneDistrictMappingToList(zoneDistrictMappingForm.value)
                "
              >
                <mat-icon
                  mdSuffix
                  class="mat-icon material-icons"
                  role="img"
                  aria-hidden="true"
                  style="cursor: pointer"
                  >add</mat-icon
                >
              </button>
            </div>
          </form>
        </div>
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
          *ngIf="zoneDistrictMappingList.data.length > 0"
        >
          <div class="table-responsive">
            <table
              mat-table
              [dataSource]="zoneDistrictMappingList"
              class="table table-striped table-hover"
            >
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef>SNo.</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="zoneName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Zone</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.zoneName }}
                </td>
              </ng-container>
              <ng-container matColumnDef="stateName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.stateName }}
                </td>
              </ng-container>
              <ng-container matColumnDef="districtName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  District
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.districtName }}
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <mat-icon
                    class="cursorPointer"
                    matTooltip="delete"
                    (click)="
                      remove_obj(zoneDistrictMappingList.data.indexOf(element))
                    "
                    >delete</mat-icon
                  >
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayAddedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayAddedColumns"
              ></tr>
              <mat-paginator
                [hidden]="zoneDistrictMappingList.data.length === 0"
                [pageSizeOptions]="[5, 10, 20]"
                [pageSize]="5"
                showFirstLastButtons
              >
              </mat-paginator>
            </table>
          </div>
        </div>
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
          style="padding-bottom: 80px"
        >
          <button
            mat-raised-button
            color="primary"
            class="pull-left mat_blue"
            (click)="back()"
          >
            Back
          </button>
          <button
            *ngIf="!editable"
            [disabled]="zoneDistrictMappingList.data.length === 0"
            mat-raised-button
            color="accent"
            class="pull-right mat_green"
            (click)="storezoneMappings()"
          >
            Save
          </button>
          <button
            *ngIf="editable"
            mat-raised-button
            color="accent"
            class="pull-right mat_green"
            [disabled]="zoneDistrictMappingForm.invalid"
            (click)="updateZoneMappingData(zoneDistrictMappingForm.value)"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
