<div class="col-xs-12 col-sm-12">
  <div class="container-fluid p-a-0">
    <div class="header">
      <div class="col-12 row">
        <div routerLink="/MultiRoleScreenComponent" class="pull-left col-6">
          <img src="assets/images/smLogo.png" alt="Logo" title="Logo" />
        </div>
        <div
          class="pull-right col-6"
          style="text-align: end !important; padding-top: 5px"
        >
          <ul
            class="list-inline list-unstyled topIcon"
            style="
              list-style-type: none;
              margin-top: 10px !important;
              text-align: end;
              display: ruby;
            "
          >
            <li style="color: white; margin-right: 10px">
              Welcome {{ data.userName }}
            </li>
            <li class="">
              <img
                src="assets/images/icon-user-active.png"
                class="cursorPointer"
                alt="User Icon"
                style="margin-right: 10px"
                title="User Icon"
                [matMenuTriggerFor]="menuNotification"
              />
            </li>
            <mat-menu #menuNotification x-position="before" class="">
              <mat-list class="p-t-0">
                <mat-list-item>
                  <mat-icon
                    class="mat-icon material-icons"
                    role="img"
                    aria-hidden="true"
                    >account_circle</mat-icon
                  >
                  {{ data.userName }}</mat-list-item
                >
                <mat-list-item class="b-t-1-w">
                  {{ role }}
                </mat-list-item>
              </mat-list>
            </mat-menu>
            <li
              style="margin-right: 10px"
              class="help cursorPointer"
              title="Help"
              [matMenuTriggerFor]="knowAboutUs"
            >
              <a class="">&nbsp;</a>
            </li>
            <mat-menu
              #knowAboutUs
              yPosition="below"
              xPosition="before"
              class=""
            >
              <mat-list class="p-t-0">
                <mat-list-item
                  class="cursorPointer"
                  (click)="viewVersionDetails()"
                  >Version</mat-list-item
                >
                <mat-list-item>
                  <a
                    href="{{ license }}"
                    class="link cursorPointer"
                    target="_blank"
                    rel="noopener noreferrer"
                    >License info.</a
                  >
                </mat-list-item>
              </mat-list>
            </mat-menu>
            <li
              tabindex="0"
              class="logout"
              title="Logout"
              (click)="logOut()"
              (keyup.enter)="logOutKeyUp()"
            >
              <!-- (keyup.enter)="logOutKeyUp()" -->
              <a class="">&nbsp;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- <router-outlet name="postLogin_router"></router-outlet> -->
  <app-super-admin
    *ngIf="role === 'SUPERADMIN'"
    [current_language]="currentlanguageSet"
  ></app-super-admin>
  <app-provider-admin *ngIf="role === 'PROVIDERADMIN'"></app-provider-admin>
</div>
