<!-- <md-card> -->
<!--search page-->
<div class="row" *ngIf="searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Feedback/Complaint Type Master</h4>
  </div>
  <form #searchFTForm="ngForm" autocomplete="off">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <!-- <mat-form-field class="hide_underline" [style.width]="'100%'">
        <input matInput style="display:none"> -->
      <mat-select
        placeholder="Serviceline"
        [style.width]="'100%'"
        [(ngModel)]="search_serviceline"
        name="serviceline"
        required
      >
        <mat-option
          *ngFor="let service of servicelines"
          value="{{ service.serviceID }}"
          (click)="
            getStates(service.serviceID, service.isNational);
            setIsNational(service.isNational)
          "
        >
          {{ service.serviceName }}
        </mat-option>
      </mat-select>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <mat-select
        placeholder="State"
        [style.width]="'100%'"
        [disabled]="isNational"
        [(ngModel)]="search_state"
        name="state"
        [required]="!isNational"
      >
        <mat-option
          *ngFor="let state of states"
          value="{{ state.stateID }}"
          (click)="findFeedbackTypes(state.providerServiceMapID)"
        >
          {{ state.stateName }}
        </mat-option>
      </mat-select>
      <!-- </mat-form-field> -->
    </div>
  </form>
</div>
<!--table area-->
<div
  class="pull-right"
  *ngIf="feedbackTypes.length !== 0 && searchForm && showTable"
>
  <mat-form-field id="filterbox">
    <input
      matInput
      placeholder="In-Table Search"
      #filterTerm
      (keyup)="filterComponentList(filterTerm.value)"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="row" *ngIf="searchForm">
  <div class="col-xs-12 col-sm-12 m-t-15" *ngIf="showTable">
    <div class="table-responsive">
      <table
        mat-table
        [dataSource]="this.filteredfeedbackTypes.data"
        class="table table-striped table-hover"
      >
        <ng-container matColumnDef="SNo">
          <th mat-header-cell *matHeaderCellDef>S.No.</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="FeedbackName">
          <th mat-header-cell *matHeaderCellDef>Feedbac kName</th>
          <td mat-cell *matCellDef="let element">
            {{ element.feedbackTypeName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="FeedbackDescription">
          <th mat-header-cell *matHeaderCellDef>Feedback Description</th>
          <td mat-cell *matCellDef="let element">{{ element.feedbackDesc }}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              matTooltip="Edit"
              class="mat-icon material-icons"
              role="img"
              aria-hidden="true"
              style="cursor: pointer"
              *ngIf="!element.deleted"
              (click)="editFeedback(element)"
              >edit</mat-icon
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element">
            <button
              *ngIf="element.deleted === true"
              mat-raised-button
              color="accent"
              (click)="activeDeactivate(element.feedbackTypeID, false)"
            >
              Activate
            </button>
            <button
              *ngIf="element.deleted === false"
              mat-raised-button
              color="primary"
              (click)="activeDeactivate(element.feedbackTypeID, true)"
            >
              Deactivate
            </button>
          </td>
          <!-- <td colspan="4" class="p-r-0" mat-cell>
          <button md-raised-button color="primary" [disabled]="searchForm.invalid" class="pull-right" (click)="changeTableFlag(false)">Add Work Location</button>
        </td> -->
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div>
        <button
          class="pull-right"
          mat-raised-button
          color="primary"
          [disabled]="!search_state && !isNational"
          (click)="changeTableFlag(false)"
        >
          Add Feedback Type
        </button>
      </div>
      <mat-paginator
        [hidden]="filteredfeedbackTypes.data.length === 0"
        [pageSizeOptions]="[5, 10, 25]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
<!--new feedback page-->
<div class="row" *ngIf="!searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="width100">Add Feedback/Complaint Type</h4>
    <form #addForm="ngForm" autocomplete="off">
      <div class="row m-t-10">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-t-15">
          <!-- <mat-form-field class="hide_underline" [style.width]="'100%'">
            <input matInput style="display:none"> -->
          <mat-select
            placeholder="Serviceline"
            [style.width]="'100%'"
            [(ngModel)]="search_serviceline"
            name="serviceline"
            [disabled]="true"
            required
          >
            <mat-option
              *ngFor="let service of servicelines"
              value="{{ service }}"
              (click)="getStates(service, service); setIsNational(service)"
            >
              {{ service }}
            </mat-option>
          </mat-select>
          <!-- </mat-form-field> -->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-t-15">
          <!-- <mat-form-field class="hide_underline" [style.width]="'100%'">
            <input matInput style="display:none"> -->
          <mat-select
            placeholder="State"
            [style.width]="'100%'"
            [(ngModel)]="search_state"
            name="state"
            [disabled]="true"
            required
          >
            <mat-option
              *ngFor="let state of states"
              value="{{ state }}"
              (click)="findFeedbackTypes(state)"
            >
              {{ state }}
            </mat-option>
          </mat-select>
          <!-- </mat-form-field> -->
        </div>
      </div>
    </form>
    <form #editForm="ngForm" autocomplete="off">
      <div class="row">
        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-20"
          *ngIf="search_serviceline !== '3'"
        >
          <mat-form-field [style.width]="'100%'">
            <input
              matInput
              placeholder="Feedback Name"
              name="feedbackName"
              myProviderName
              [(ngModel)]="feedbackName"
              #feedback_name="ngModel"
              required
            />
            <!-- <mat-hint *ngIf="alreadyExist && feedback_name.touched">
              <span class="error_text">Feedback already exist</span>
            </mat-hint> -->
          </mat-form-field>
        </div>
        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15"
          *ngIf="search_serviceline === '3'"
        >
          <!-- <mat-form-field class="hide_underline" [style.width]="'100%'">
            <input matInput style="display:none"> -->
          <mat-select
            placeholder="Feedback Name"
            [style.width]="'100%'"
            [(ngModel)]="feedbackName"
            #feedback="ngModel"
            (change)="checkExistance()"
            name="feedbackName"
            required
          >
            <mat-option value="Generic Complaint">Generic Complaint</mat-option>
            <mat-option value="Asha Complaints">Asha Complaints</mat-option>
            <mat-option value="Epidemic Complaints"
              >Epidemic Complaints</mat-option
            >
            <mat-option value="Foodsafety Complaints"
              >Food Safety Complaints</mat-option
            >
            <mat-option value="Bal Vivah Complaints"
              >Bal Vivah Complaints</mat-option
            >
          </mat-select>
          <!-- <mat-hint>
              <span class="error_text" *ngIf="feedback.errors && feedback.touched">Feedback name is required</span>
              <span class="error_text" *ngIf="!feedback.errors && feedbackExists">Feedback Name already exist</span>
            </mat-hint>
          </mat-form-field> -->
        </div>
        <!-- <div class="clearfix visible-md "></div> -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-20" myProviderName>
          <mat-form-field [style.width]="'100%'">
            <input
              matInput
              placeholder="Feedback Description"
              name="feedbackDesc"
              [(ngModel)]="feedbackDesc"
              maxlength="100"
            />
          </mat-form-field>
        </div>
        <div
          class="col-xs-12 col-sm-12 col-md-4 col-lg-3 m-t-20"
          *ngIf="editForm.valid && !feedbackExists"
        >
          <button
            mat-mini-fab
            color="primary"
            class="xs-pull-right sm-pull-right md-pull-left lg-pull-left"
            type="button"
            (click)="add_obj(feedbackName, feedbackDesc); this.editForm.reset()"
          >
            <mat-icon
              matSuffix
              class="mat-icon material-icons"
              role="img"
              aria-hidden="true"
              style="cursor: pointer"
              >add</mat-icon
            >
          </button>
        </div>
      </div>

      <div class="m-t-15" *ngIf="objs.data.length !== 0">
        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="this.objs.data"
            class="table table-striped table-hover"
          >
            <ng-container matColumnDef="SNo">
              <th mat-header-cell *matHeaderCellDef>S.No.</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="FeedbackName">
              <th mat-header-cell *matHeaderCellDef>Feedbac kName</th>
              <td mat-cell *matCellDef="let element">
                {{ element.feedbackTypeName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="FeedbackDescription">
              <th mat-header-cell *matHeaderCellDef>Feedback Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.feedbackDesc }}
              </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>Delete</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon
                  class="cursorPointer"
                  matTooltip="delete"
                  (click)="remove_obj(objs.data.indexOf(element))"
                  >delete</mat-icon
                >
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 m-b-10 m-t-10">
        <div class="row">
          <button
            mat-raised-button
            color="accent"
            [disabled]="!(objs.data.length > 0)"
            class="pull-right"
            (click)="saveFeedback()"
          >
            Save
          </button>
          <button
            class="pull-left"
            mat-raised-button
            color="primary"
            (click)="back(); this.editForm.reset()"
          >
            Back
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- </md-card> -->
