<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9">
      <h4 mat-dialog-title class="modal-title" style="margin: unset">
        Edit Provider Admin Details
      </h4>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <button
        mat-button
        class="pull-right p-r-0"
        [mat-dialog-close]="true"
        style="background-color: unset; border: unset; margin: 20px"
      >
        <mat-icon
          mdTooltip="close"
          class="mat-icon material-icons pull-right"
          role="img"
          aria-hidden="true"
          style="cursor: pointer"
          >clear</mat-icon
        >
      </button>
    </div>
  </div>
  <div *ngIf="formMode">
    <div class="col-12">
      <form #editAdminCreationForm="ngForm" autocomplete="off" class="row">
        <div class="col-3">
          <!-- <md-input-container class="hide_underline"  >
                      <input matInput style="display:none"> -->
          <mat-form-field>
            <mat-label>Title</mat-label>
            <mat-select
              [(ngModel)]="titleID"
              name="title_Id"
              (selectionChange)="setGenderOnCondition()"
              required
            >
              <mat-option *ngFor="let item of titles" [value]="item.titleID">
                {{ item.titleName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- </md-input-container> -->
        </div>
        <div class="col-3">
          <mat-form-field
            class="input-full-width mat_form_field_width_one"
            myName
          >
            <mat-label>First Name</mat-label>
            <input
              matInput
              ngModel
              name="providerAdmin"
              [(ngModel)]="admin_firstName"
              minlength="2"
              maxlength="50"
              #fname="ngModel"
              required
            />
            <mat-hint *ngIf="fname.touched">
              <span class="errorText" [hidden]="!fname.errors"
                >Enter minimum 2 characters</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-sm"></div> -->
        <div class="col-3">
          <mat-form-field
            class="input-full-width mat_form_field_width_one"
            myName
          >
            <mat-label>Middle Name</mat-label>
            <input
              matInput
              ngModel
              name="middleName"
              [(ngModel)]="admin_middleName"
              minlength="1"
              maxlength="50"
              #name="ngModel"
            />
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-md"></div> -->
        <div class="col-3">
          <mat-form-field
            class="input-full-width mat_form_field_width_one"
            myName
          >
            <mat-label>Last Name</mat-label>
            <input
              matInput
              ngModel
              name="lastName"
              [(ngModel)]="admin_lastName"
              minlength="1"
              maxlength="50"
              #lname="ngModel"
              required
            />
            <mat-hint class="errorText" *ngIf="lname.errors && lname.touched"
              >Enter minimum 1 characters
            </mat-hint>
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-lg"></div> -->
        <div class="col-3">
          <!-- <md-input-container   class="hide_underline">
                      <input matInput style="display:none"> -->
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="gender" name="adminGender" required>
              <mat-option *ngFor="let item of genders" [value]="item.genderID">
                {{ item.genderName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- </md-input-container> -->
        </div>
        <div class="col-3">
          <mat-form-field
            class="input-full-width mat_form_field_width_one"
            appMyMobileNumber
          >
            <mat-label>Contact Number</mat-label>
            <input
              matInput
              ngModel
              name="contact_number"
              [(ngModel)]="primaryMobileNumber"
              minlength="10"
              maxlength="10"
              #contactNo="ngModel"
              required
            />
            <mat-hint
              class="errorText"
              *ngIf="contactNo.errors && contactNo.touched"
              >Enter 10 digit mobile number
            </mat-hint>
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-sm visible-md"></div> -->
        <div class="col-3">
          <mat-form-field>
            <mat-label>Date of Birth </mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date"
              [(ngModel)]="dob"
              [max]="maxdate"
              [min]="mindate"
              #dOB="ngModel"
              name="admin_dob"
              (keydown)="preventTyping($event)"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #picker
              (dateChange)="calculateAge($event)"
            ></mat-datepicker>
          </mat-form-field>
          <mat-hint class="errorText" *ngIf="dOB.errors && dOB.touched"
            >DOB is required</mat-hint
          >
          <!-- <mat-datepicker
             
            placeholder="Date of Birth"
            [(ngModel)]="dob"
            name="admin_dob"
            min="mindate"
            max="maxdate"
            #dOB="ngModel"
            (keydown)="preventTyping($event)"
            (selectionChange)="calculateAge($event)"
            required
          ></mat-datepicker> -->
          <!-- <mat-hint class="errorText" *ngIf="dOB.errors && dOB.touched"
            >DOB is required</mat-hint
          > -->
        </div>
        <div class="col-3">
          <mat-form-field
            class="input-full-width mat_form_field_width_one"
            appMyMobileNumber
          >
            <mat-label>Age</mat-label>
            <input
              matInput
              ngModel
              name="person_age"
              [(ngModel)]="age"
              minlength="1"
              maxlength="2"
              #personAge="ngModel"
              disabled
            />
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-lg"></div> -->
        <div class="col-3">
          <mat-form-field
            class="input-full-width mat_form_field_width_one"
            appMyEmail
          >
            <mat-label>Email ID</mat-label>
            <input
              matInput
              ngModel
              [pattern]="emailPattern"
              name="email"
              [(ngModel)]="primaryEmail"
              maxlength="30"
              #validEmail="ngModel"
              required
            />
            <mat-hint
              class="errorText"
              [hidden]="!validEmail.hasError('pattern')"
              >Valid Email ID is required
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <!-- <md-input-container   class="hide_underline">
                      <input matInput style="display:none"> -->
          <mat-form-field>
            <mat-label>Marital Status</mat-label>
            <mat-select
              [(ngModel)]="marital_status"
              name="admin_maritalStatusId"
            >
              <mat-option
                *ngFor="let item of maritalStatus.m_maritalStatuses"
                [value]="item.maritalStatusID"
              >
                {{ item.status }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- </md-input-container> -->
        </div>
        <div class="col-3">
          <mat-form-field
            class="input-full-width mat_form_field_width_one"
            appMyMobileNumber
          >
            <mat-label>Aadhar Number</mat-label>
            <input
              matInput
              ngModel
              name="aadhar_number"
              [(ngModel)]="aadharNumber"
              minlength="12"
              maxlength="12"
              (keyup)="checkAadhar()"
              #number="ngModel"
            />
            <mat-hint *ngIf="number.touched">
              <span class="error_text" [hidden]="!number.errors"
                >Required 12 digit aadhar number</span
              >
              <span
                class="error_text"
                *ngIf="isExistAadhar && !number.errors"
                >{{ errorMessageForAadhar }}</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="input-full-width mat_form_field_width_one">
            <mat-label>PAN Card Number</mat-label>
            <input
              matInput
              ngModel
              name="pan_number"
              [(ngModel)]="panNumber"
              minlength="10"
              maxlength="10"
              #panNo="ngModel"
              (keyup)="checkPan()"
            />
            <mat-hint *ngIf="panNo.touched">
              <span class="error_text" [hidden]="!panNo.errors"
                >Required 10 digit Pan number EX: alphanumeric</span
              >
              <span class="error_text" *ngIf="isExistPan && !panNo.errors">{{
                errorMessageForPan
              }}</span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="clearfix"></div>
        <div class="col-3">
          <!-- <md-input-container   class="hide_underline">
                      <input matInput style="display:none"> -->
          <mat-form-field>
            <mat-label>Educational Qualification</mat-label>
            <mat-select
              [(ngModel)]="edu_qualification"
              name="admin_edu_qualification"
              required
            >
              <mat-option
                *ngFor="let item of eduQualification"
                [value]="item.qualificationID"
              >
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- </md-input-container> -->
        </div>
        <div class="col-3">
          <mat-form-field
            class="input-full-width mat_form_field_width_one"
            myName
          >
            <mat-label>Emergency Contact Person</mat-label>
            <input
              matInput
              ngModel
              name="em_cont_person"
              [(ngModel)]="emergency_cnt_person"
              minlength="2"
              maxlength="50"
              #emergencyname="ngModel"
              required
            />
            <mat-hint *ngIf="emergencyname.touched">
              <span class="errorText" [hidden]="!emergencyname.errors"
                >Enter atleast 2 characters</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-sm"></div> -->
        <div class="col-3">
          <mat-form-field
            class="input-full-width mat_form_field_width_one"
            appMyMobileNumber
          >
            <mat-label>Emergency Contact Number</mat-label>
            <input
              matInput
              ngModel
              name="em_contact_number"
              [(ngModel)]="emergencyMobileNumber"
              minlength="10"
              maxlength="10"
              #emContactNo="ngModel"
              required
            />
            <mat-hint
              class="errorText"
              *ngIf="emContactNo.errors && emContactNo.touched"
              >Enter 10 digit mobile number
            </mat-hint>
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-md"></div> -->
        <div class="col-3">
          <mat-form-field class="input-full-width mat_form_field_width_one">
            <mat-label>Remarks</mat-label>
            <input
              matInput
              maxlength="100"
              ngModel
              name="remarks"
              [(ngModel)]="admin_remarks"
              #adminRemark="ngModel"
            />
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
      <button
        mat-raised-button
        color="accent"
        class="pull-right mat_green"
        (click)="update()"
        [disabled]="
          editAdminCreationForm.invalid || isExistPan || isExistAadhar
        "
      >
        Update
      </button>
    </div>
  </div>
</div>
