<div class="row" *ngIf="tableMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>Provider Admin List</h4>
  </div>
</div>
<div
  class="m-t-10"
  style="text-align: end"
  *ngIf="searchResult.length !== 0 && tableMode"
>
  <mat-form-field
    class="input-full-width mat_form_field_width_one"
    id="filterbox"
  >
    <input
      matInput
      placeholder="In-Table Search"
      #filterTerm
      (keyup)="filterComponentList(filterTerm.value)"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="row" *ngIf="tableMode">
  <div class="col-xs-12 col-sm-12">
    <div class="">
      <table
        mat-table
        class="table table-striped table-hover"
        [dataSource]="filteredsearchResult"
      >
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef>SNo.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="titleName">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">
            {{ element.titleName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="userName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Provider Admin Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.userName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="contactNo">
          <th mat-header-cell *matHeaderCellDef>Contact No</th>
          <td mat-cell *matCellDef="let element">
            {{ element.contactNo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="emergencyContactNo">
          <th mat-header-cell *matHeaderCellDef>Emergency Contact No</th>
          <td mat-cell *matCellDef="let element">
            {{ element.emergencyContactNo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="emailID">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            {{ element.emailID }}
          </td>
        </ng-container>
        <ng-container matColumnDef="aadhaarNo">
          <th mat-header-cell *matHeaderCellDef>Aadhar No</th>
          <td mat-cell *matCellDef="let element">
            {{ element.aadhaarNo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="pAN">
          <th mat-header-cell *matHeaderCellDef>PAN Card No</th>
          <td mat-cell *matCellDef="let element">
            {{ element.pAN }}
          </td>
        </ng-container>
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let element">
            {{ element.remarks }}
          </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              matTooltip="Edit"
              class="mat-icon material-icons"
              role="img"
              aria-hidden="true"
              style="cursor: pointer"
              *ngIf="!element.deleted"
              (click)="editProviderAdmin(element)"
              >edit</mat-icon
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let item">
            <button
              *ngIf="item.deleted"
              mat-raised-button
              class="mat_green"
              color="accent"
              (click)="activateDeactivate(item.userID, false)"
            >
              Activate
            </button>
            <button
              *ngIf="!item.deleted"
              mat-raised-button
              class="mat_blue"
              color="primary"
              (click)="activateDeactivate(item.userID, true)"
            >
              Deactivate
            </button>
          </td>
        </ng-container>
        <!-- <thead>
          <tr>
            <th width="4%">S.No.</th>
            <th width="5%">Title</th>
            <th width="15%" md2SortBy="userName">Provider Admin Name</th>
            <th width="10%">Contact No</th>
            <th width="20%">Emergency&nbsp;Contact&nbsp;No</th>
            <th width="10%">Email</th>
            <th width="12%">Aadhar No</th>
            <th width="12%">PAN Card No</th>
            <th width="10%">Remarks</th>
            <th width="5%">Edit</th>
            <th width="15%">Action</th>
          </tr>
        </thead> -->
        <!-- <tbody>
          <tr *ngIf="md2.data.length == 0">
            <td colspan="12" class="record-not-found">No records found</td>
          </tr>
          <tr *ngFor="let item of md2.data; let i= index">
            <td>{{(md2.activePage-1)*4+i+1}}</td>
            <td>{{item.titleName}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.contactNo}}</td>
            <td>{{item.emergencyContactNo}}</td>
            <td>{{item.emailID}}</td>
            <td>{{item.aadhaarNo}}</td>
            <td>{{item.pAN}}</td>
            <td>{{item.remarks}}</td>
            <td>
              <mat-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!item.deleted"
                (click)="editProviderAdmin(item)">edit</mat-icon>
            </td>
            <td>
              <button *ngIf="item.deleted" mat-raised-button color="accent" (click)="activateDeactivate(item.userID, false)">Activate</button>
              <button *ngIf="!item.deleted" mat-raised-button color="primary" (click)="activateDeactivate(item.userID, true)">Deactivate</button>
            </td>
          </tr>
        </tbody> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div>
        <button
          mat-raised-button
          color="primary"
          class="pull-right mat_blue"
          (click)="showForm()"
        >
          Create New Provider Admin
        </button>
      </div>
      <div
        class="pull-center"
        style="margin-top: 35px; text-align: center"
        *ngIf="filteredsearchResult.data.length === 0"
      >
        <strong>No Records Found</strong>
      </div>
      <mat-paginator
        [hidden]="filteredsearchResult.data.length === 0"
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="5"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>

<div class="row" *ngIf="formMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 *ngIf="!editMode">
      <strong>Create Provider Admin</strong>
    </h4>
    <!-- <h4 *ngIf="editMode">
        <strong>Edit Provider Admin</strong>
      </h4> -->
  </div>

  <form #providerAdminCreationForm="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-10">
      <!-- <md-input-container class="hide_underline width100">
        <input matInput style="display:none"> -->
      <mat-select
        placeholder="Title *"
        class="width100"
        [(ngModel)]="titleID"
        name="title_Id"
        (selectionChange)="setGenderOnCondition()"
        required
      >
        <mat-option *ngFor="let item of titles" [value]="item.titleID">
          {{ item.titleName }}
        </mat-option>
      </mat-select>
      <!-- </md-input-container> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10">
      <mat-form-field class="input-full-width mat_form_field_width_one">
        <input
          matInput
          placeholder="First Name *"
          ngModel
          name="firstName"
          [(ngModel)]="admin_firstName"
          minlength="2"
          maxlength="50"
          #fname="ngModel"
          required
          appMyNameDir
        />
        <mat-hint *ngIf="fname.touched">
          <span class="errorText" [hidden]="!fname.errors"
            >Enter minimum 2 characters</span
          >
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="clearfix visible-sm"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10">
      <mat-form-field class="input-full-width mat_form_field_width_one" myName>
        <input
          matInput
          placeholder="Middle Name"
          ngModel
          name="middleName"
          [(ngModel)]="admin_middleName"
          minlength="1"
          maxlength="50"
          #name="ngModel"
        />
      </mat-form-field>
    </div>
    <div class="clearfix visible-md"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10">
      <mat-form-field class="input-full-width mat_form_field_width_one" myName>
        <input
          matInput
          placeholder="Last Name *"
          ngModel
          name="lastName"
          [(ngModel)]="admin_lastName"
          minlength="1"
          maxlength="50"
          #lname="ngModel"
          required
        />
        <mat-hint *ngIf="lname.errors && lname.touched">
          <span class="errorText">Enter minimum 1 character</span>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="clearfix visible-lg"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-10">
      <!-- <md-input-container class="hide_underline width100">
        <input matInput style="display:none"> -->
      <mat-select
        placeholder="Gender *"
        class="width100"
        [(ngModel)]="gender"
        name="adminGender"
        required
      >
        <mat-option *ngFor="let item of genders" [value]="item.genderID">
          {{ item.genderName }}
        </mat-option>
      </mat-select>
      <!-- </md-input-container> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10">
      <mat-form-field
        class="input-full-width mat_form_field_width_one"
        appMyMobileNumber
      >
        <input
          matInput
          placeholder="Contact Number *"
          ngModel
          name="contact_number"
          [(ngModel)]="primaryMobileNumber"
          minlength="10"
          maxlength="10"
          #contactNo="ngModel"
          [pattern]="mobileNoPattern"
          required
        />
        <mat-hint>
          <span class="errorText" [hidden]="!contactNo.hasError('pattern')"
            >Required 10 digit valid mobile number</span
          >
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="clearfix visible-sm visible-md"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-10">
      <mat-form-field class="width100">
        <mat-label>Date of Birth </mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
          [(ngModel)]="dob"
          [max]="maxdate"
          [min]="mindate"
          #dOB="ngModel"
          name="admin_dob"
          (keydown)="preventTyping($event)"
          required
          (dateChange)="calculateAge(dob)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-hint class="errorText" *ngIf="dob.errors && dob.touched"
        >DOB is required</mat-hint
      >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10">
      <mat-form-field
        class="input-full-width mat_form_field_width_one"
        appMyMobileNumber
      >
        <input
          matInput
          placeholder="Age"
          ngModel
          name="person_age"
          [(ngModel)]="age"
          minlength="1"
          maxlength="2"
          #personAge="ngModel"
          disabled
        />
        <!-- <mat-hint class="errorText" *ngIf="personAge.errors && personAge.touched">Age is required
                </mat-hint> -->
      </mat-form-field>
    </div>
    <div class="clearfix visible-lg"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10">
      <mat-form-field
        class="input-full-width mat_form_field_width_one"
        appMyEmail
      >
        <input
          matInput
          placeholder="Email ID *"
          ngModel
          [pattern]="emailPattern"
          name="email"
          [(ngModel)]="primaryEmail"
          maxlength="30"
          #validEmail="ngModel"
          required
        />
        <mat-hint>
          <span class="errorText" [hidden]="!validEmail.hasError('pattern')"
            >Valid Email ID is required</span
          >
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-10">
      <!-- <md-input-container class="hide_underline width100">
        <input matInput style="display:none"> -->
      <mat-select
        placeholder="Marital Status"
        class="width100"
        [(ngModel)]="marital_status"
        name="admin_maritalStatusId"
      >
        <mat-option
          *ngFor="let item of maritalStatus.m_maritalStatuses"
          [value]="item.maritalStatusID"
        >
          {{ item.status }}
        </mat-option>
      </mat-select>
      <!-- </md-input-container> -->
    </div>
    <div class="clearfix visible-sm"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10">
      <mat-form-field
        class="input-full-width mat_form_field_width_one"
        appMyMobileNumber
      >
        <input
          matInput
          placeholder="Aadhar Number"
          ngModel
          name="aadhar_number"
          [(ngModel)]="aadharNumber"
          minlength="12"
          maxlength="12"
          (keyup)="checkAadhar()"
          #number="ngModel"
        />
        <mat-hint *ngIf="number.touched">
          <span class="error_text" [hidden]="!number.errors"
            >Required 12 digit Aadhar number</span
          >
          <span class="error_text" *ngIf="isExistAadhar && !number.errors">{{
            errorMessageForAadhar
          }}</span>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10">
      <mat-form-field class="input-full-width mat_form_field_width_one" appPAN>
        <input
          matInput
          placeholder="PAN Card Number"
          ngModel
          name="pan_number"
          [(ngModel)]="panNumber"
          minlength="10"
          maxlength="10"
          #panNo="ngModel"
          (keyup)="checkPan()"
        />
        <mat-hint *ngIf="panNo.touched">
          <span class="error_text" [hidden]="!panNo.errors"
            >Required 10 digit Pan number</span
          >
          <span class="error_text" *ngIf="isExistPan && !panNo.errors">{{
            errorMessageForPan
          }}</span>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <!-- <md-input-container class="hide_underline width100">
        <input matInput style="display:none"> -->
      <mat-select
        placeholder="Educational Qualification *"
        class="width100"
        [(ngModel)]="edu_qualification"
        name="admin_edu_qualification"
        required
      >
        <mat-option
          *ngFor="let item of eduQualification"
          [value]="item.qualificationID"
        >
          {{ item.name }}
        </mat-option>
      </mat-select>
      <!-- </md-input-container> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3">
      <mat-form-field
        class="input-full-width"
        appMyProviderName
        style="width: 100%"
      >
        <mat-label>Emergency Contact Person</mat-label>
        <input
          matInput
          ngModel
          name="em_contact_person"
          [(ngModel)]="emergency_cnt_person"
          minlength="2"
          maxlength="50"
          #emergencyname="ngModel"
          required
        />
        <mat-hint *ngIf="emergencyname.touched">
          <span class="errorText" [hidden]="!emergencyname.errors"
            >Enter minimum 2 characters</span
          >
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="clearfix visible-sm"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3">
      <mat-form-field
        class="input-full-width"
        appMyMobileNumber
        style="width: 100%"
      >
        <mat-label>Emergency Contact Number</mat-label>
        <input
          matInput
          ngModel
          name="em_contact_number"
          [(ngModel)]="emergencyMobileNumber"
          minlength="10"
          maxlength="10"
          #emContactNo="ngModel"
          [pattern]="mobileNoPattern"
          required
        />
        <mat-hint>
          <span class="errorText" [hidden]="!emContactNo.hasError('pattern')"
            >Required 10 digit valid mobile number</span
          >
        </mat-hint>
      </mat-form-field>
    </div>
  </form>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-5">
    <h4>
      <strong>Create User Name & Password</strong>
    </h4>
  </div>

  <form #adminCredentialsForm="ngForm" autocomplete="off" (mouseup)="hidePWD()">
    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10"
      *ngIf="!editMode"
    >
      <mat-form-field class="input-full-width mat_form_field_width_one" appPAN>
        <input
          matInput
          placeholder="User Name *"
          ngModel
          name="user_name"
          [(ngModel)]="username"
          minlength="2"
          maxlength="20"
          #uname="ngModel"
          (keyup)="checkUserNameAvailability(username)"
          required
        />
        <mat-hint *ngIf="uname.touched">
          <span class="error_text" *ngIf="showHint && !uname.errors">{{
            username_status
          }}</span>
          <span class="error_text" [hidden]="!uname.errors"
            >Min 2 characters required</span
          >
        </mat-hint>
      </mat-form-field>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10"
      *ngIf="!editMode"
    >
      <mat-form-field class="input-full-width mat_form_field_width_one">
        <input
          type="{{ dynamictype }}"
          matInput
          placeholder="Password *"
          ngModel
          [(ngModel)]="user_password"
          name="password"
          [pattern]="passwordPattern"
          #pwrd="ngModel"
          required
        />
        <mat-icon
          id="eye"
          matSuffix
          class="mat-icon material-icons cursorPointer"
          role="img"
          aria-hidden="true"
          mdTooltip="Show Password"
          (mousedown)="showPWD()"
          style="color: gray"
          >visibility</mat-icon
        >
        <mat-hint>
          <span
            class="errorText"
            *ngIf="pwrd.errors && !pwrd.hasError('pattern') && pwrd.touched"
            >Password is required</span
          >
          <span class="errorText" *ngIf="pwrd.hasError('pattern')"
            >Password should be min:8,max:12,alphanumeric,1 special character,1
            upper case</span
          >
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-3 p-b-10">
      <mat-form-field class="input-full-width mat_form_field_width_one">
        <input
          matInput
          appTextAreaValidator
          placeholder="Remarks"
          ngModel
          maxlength="100"
          name="remarks"
          [(ngModel)]="admin_remarks"
          #adminRemark="ngModel"
        />
      </mat-form-field>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
      *ngIf="providerAdminCreationForm.valid && adminCredentialsForm.valid"
      [hidden]="isExistAadhar || isExistPan"
    >
      <button
        md-mini-fab
        color="primary"
        class="mat_blue"
        (click)="
          add_object(
            providerAdminCreationForm.value,
            adminCredentialsForm.value
          );
          adminCredentialsForm.reset()
        "
      >
        <mat-icon
          matSuffix
          class="mat-icon material-icons"
          role="img"
          aria-hidden="true"
          style="cursor: pointer"
          >add</mat-icon
        >
      </button>
    </div>
  </form>
  <div class="col-xs-12 col-sm-12 m-t-15" *ngIf="objs.data.length !== 0">
    <div cass="">
      <table
        mat-table
        [dataSource]="objs"
        class="table table-striped table-hover"
      >
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef>SNo.</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>
        <ng-container matColumnDef="primaryEmail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email ID</th>
          <td mat-cell *matCellDef="let element">{{ element.primaryEmail }}</td>
        </ng-container>
        <ng-container matColumnDef="primaryMobileNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Mobile Number
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.primaryMobileNumber }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-icon
              class="cursorPointer"
              matTooltip="delete"
              (click)="remove_obj(objs.data.indexOf(element))"
              >delete</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayAddedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayAddedColumns"></tr>
        <mat-paginator
          [hidden]="objs.data.length === 0"
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="5"
          showFirstLastButtons
        >
        </mat-paginator>
      </table>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 m-b-10">
    <button
      mat-raised-button
      color="primary"
      class="pull-left mat_blue"
      (click)="showTable()"
    >
      Back
    </button>
    <button
      *ngIf="!editMode"
      mat-raised-button
      color="accent"
      class="pull-right mat_green"
      [disabled]="!(objs.data.length !== 0)"
      (click)="createProviderAdmin()"
    >
      Save
    </button>
  </div>
</div>
