<mat-card>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="pull-left">Serviceline State CDSS Mapping</h4>
    </div>
    <form #cdssForm="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-select
          placeholder="Serviceline"
          (selectionChange)="getStates(service)"
          class="width100"
          [(ngModel)]="service"
          name="service"
          required
        >
          <mat-option *ngFor="let item of services" [value]="item">
            {{ item.serviceName }}
          </mat-option>
        </mat-select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-select
          placeholder="State"
          class="width100"
          [(ngModel)]="state"
          (selectionChange)="
            setProviderServiceMapID(state.providerServiceMapID)
          "
          name="state"
          required
        >
          <mat-option *ngFor="let item of states" [value]="item">
            {{ item.stateName }}
          </mat-option>
        </mat-select>
      </div>
      <div>
        <button
          mat-raised-button
          color="accent"
          class="mat_green"
          style="margin-top: 26px; margin-left: 26px"
          *ngIf="showActivateFlag === true"
          (click)="activateDeactivateCdss()"
        >
          Activate CDSS
        </button>
        <button
          *ngIf="showDeactivateFalg === true"
          mat-raised-button
          class="mat_blue"
          color="primary"
          style="margin-top: 26px; margin-left: 26px"
          (click)="DeactivateCdss()"
        >
          Deactivate CDSS
        </button>
      </div>
    </form>
  </div>
</mat-card>
