<div class="topbar">
  <div class="mainbar mainbar-rad">
    <button mat-button [matMenuTriggerFor]="Activities" class="top-element">
      Activities
    </button>
    <mat-menu #Activities="matMenu">
      <button mat-menu-item (click)="show('13')">Provider Master</button>
      <button mat-menu-item (click)="show('14')">
        Provider Serviceline State Mapping
      </button>
      <button mat-menu-item (click)="show('2')">View Provider</button>
      <button mat-menu-item (click)="show('10')">Update Provider</button>
      <button mat-menu-item (click)="show('15')">Provider Admin List</button>
      <!-- <button mat-menu-item (click)="show('27')">View Provider</button>
      <button mat-menu-item (click)="show('28')">Update Provider</button>
      <button mat-menu-item (click)="show('15')">Provider Admin List</button> -->
      <button mat-menu-item (click)="show('16')">
        Provider Admin-Provider Mapping
      </button>
      <button mat-menu-item (click)="show('3')">Sub Service</button>
      <button mat-menu-item (click)="show('12')">Village Master</button>
    </mat-menu>
    <button
      mat-button
      class="top-element"
      (click)="show('8')"
      style="cursor: pointer"
    >
      Reports
    </button>
    <button mat-button [matMenuTriggerFor]="configuration" class="top-element">
      configurations
    </button>
    <mat-menu #configuration="matMenu">
      <button mat-menu-item (click)="show('11')">Provider CTI Mapping</button>
    </mat-menu>
    <div [ngSwitch]="Activity_Number" class="col-xs-12 col-sm-12">
      <app-service-provider-master
        *ngSwitchCase="13"
      ></app-service-provider-master>
      <app-provider-serviceline-state-mapping
        *ngSwitchCase="14"
      ></app-provider-serviceline-state-mapping>
      <app-block-service-provider
        *ngSwitchCase="2"
      ></app-block-service-provider>
      <app-update-service-provider
        *ngSwitchCase="10"
      ></app-update-service-provider>
      <app-provider-admin-list *ngSwitchCase="15"></app-provider-admin-list>
      <app-mapping-provider-admin-to-provider
        *ngSwitchCase="16"
      ></app-mapping-provider-admin-to-provider>
      <app-create-sub-service *ngSwitchCase="3"></app-create-sub-service>
      <app-village-master *ngSwitchCase="12"></app-village-master>
      <app-provide-cti-mapping *ngSwitchCase="11"></app-provide-cti-mapping>
      <p *ngSwitchCase="8">Reports Work In PROGRESS</p>
      <div></div>
    </div>
  </div>
</div>
