<div class="container-fluid">
  <div class="row" *ngIf="searchForm">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="pull-left">Category and Sub Category Master</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">
      <mat-radio-group
        [(ngModel)]="searchChoice"
        name="searchChoice"
        (change)="searchReqObjChange(searchChoice)"
        style="font-weight: 700; margin-left: unset"
      >
        <mat-radio-button color="primary" value="0">Category</mat-radio-button>
        <mat-radio-button color="primary" class="p-l-10" value="1"
          >Sub Category</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <form #search="ngForm" autocomplete="off" class="col-12 row">
      <div class="col-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>Serviceline</mat-label>
          <mat-select
            required
            [(ngModel)]="service"
            (selectionChange)="
              getStates(service);
              selected_service_id = service.serviceID;
              search1.reset()
            "
            name="serviceName"
          >
            <mat-option
              *ngFor="let serviceline of serviceLines"
              [value]="serviceline"
              >{{ serviceline.serviceName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <form #search1="ngForm" autocomplete="off" class="row">
        <div class="col-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>State</mat-label>
            <mat-select
              [disabled]="nationalFlag"
              required
              [(ngModel)]="state"
              name="stateName"
              (selectionChange)="getSubServices('get')"
            >
              <mat-option *ngFor="let state of states" [value]="state">{{
                state.stateName
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Sub Service</mat-label>
            <mat-select
              required
              [(ngModel)]="sub_service"
              name="subserviceName"
              (selectionChange)="
                checkSubService(
                  selected_service_id,
                  sub_service.subServiceName
                );
                getDetails(sub_service)
              "
            >
              <mat-option
                *ngFor="let subservice of subServices"
                [value]="subservice"
                >{{ subservice.subServiceName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </form>
  </div>
  <div
    style="text-align: end"
    *ngIf="showCategoryTable && data.length !== 0 && showTable && showDiv"
  >
    <mat-form-field [style.width]="'100%'" id="filterbox">
      <input
        matInput
        placeholder="In-Table Search"
        #filterTerm
        (keyup)="filterComponentList(filterTerm.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div
    style="text-align: end"
    *ngIf="!showCategoryTable && subCat.length !== 0 && showTable && showDiv"
  >
    <mat-form-field id="filterbox">
      <input
        matInput
        placeholder="In-Table Search"
        #filterTerm
        (keyup)="filterComponentListSub(filterTerm.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10"
      *ngIf="showTable && showDiv"
    >
      <div class="table-responsive">
        <table
          *ngIf="showCategoryTable"
          mat-table
          [dataSource]="filtereddata"
          class="table table-striped table-hover"
        >
          <ng-container matColumnDef="SNo">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">
              {{ element.categoryName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="CategoryDescription">
            <th mat-header-cell *matHeaderCellDef>Category Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.categoryDesc }}
            </td>
          </ng-container>
          <ng-container matColumnDef="SubSubService">
            <th mat-header-cell *matHeaderCellDef>Sub-Sub Service</th>
            <td mat-cell *matCellDef="let element">Well Being</td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                *ngIf="element.deleted === false"
                mdTooltip="Edit"
                class="mat-icon material-icons"
                role="img"
                aria-hidden="true"
                style="cursor: pointer"
                (click)="editCategory(element)"
                >edit</mat-icon
              >
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                *ngIf="element.deleted === true"
                class="mat_green"
                mat-raised-button
                color="accent"
                (click)="deleteCategory(element.categoryID, false)"
              >
                Activate
              </button>

              <button
                *ngIf="element.deleted === false"
                mat-raised-button
                class="mat_blue"
                color="primary"
                (click)="deleteCategory(element.categoryID, true)"
              >
                Deactivate
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div
          *ngIf="filtereddata && filtereddata.data.length === 0"
          style="text-align: center; font-size: 16px"
        >
          <strong>No Records Found</strong>
        </div>
        <mat-paginator
          #paginatorFirst
          [hidden]="filtereddata.data.length === 0 || !showCategoryTable"
          [pageSizeOptions]="[5, 10, 25]"
          [pageSize]="5"
          showFirstLastButtons
        ></mat-paginator>
        <div *ngIf="showCategoryTable">
          <button
            class="pull-right mat_blue"
            mat-raised-button
            color="primary"
            [disabled]="!sub_service"
            (click)="hideTable()"
          >
            Add New Category/Sub Category
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table
          *ngIf="!showCategoryTable"
          mat-table
          [dataSource]="filteredsubCat"
          class="table table-striped table-hover"
        >
          <ng-container matColumnDef="SNo">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="SubCategory">
            <th mat-header-cell *matHeaderCellDef>Sub Category</th>
            <td mat-cell *matCellDef="let element">
              {{ element.subCategoryName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="SubCategoryDescription">
            <th mat-header-cell *matHeaderCellDef>Sub Category Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.subCategoryDesc }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">
              {{ element.categoryName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="CategoryDescription">
            <th mat-header-cell *matHeaderCellDef>Category Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.categoryDesc }}
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                *ngIf="!element.subCategoryDeleted && !element.categoryDeleted"
                mdTooltip="edit"
                class="mat-icon material-icons"
                role="img"
                aria-hidden="true"
                style="cursor: pointer"
                (click)="editSubCategory(element)"
                >edit</mat-icon
              >
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                *ngIf="element.subCategoryDeleted || element.categoryDeleted"
                mat-raised-button
                class="mat_green"
                color="accent"
                (click)="
                  deleteSubCategory(
                    element.subCategoryID,
                    false,
                    element.categoryDeleted
                  )
                "
              >
                Activate
              </button>
              <button
                *ngIf="!element.subCategoryDeleted && !element.categoryDeleted"
                mat-raised-button
                class="mat_blue"
                color="primary"
                (click)="deleteSubCategory(element.subCategoryID, true, false)"
              >
                Deactivate
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns4"></tr>
        </table>
        <mat-paginator
          #paginatorSecond
          [length]="filteredsubCat.data.length"
          [hidden]="filteredsubCat.data.length === 0 || showCategoryTable"
          [pageSizeOptions]="[5, 10, 25]"
          [pageSize]="5"
          showFirstLastButtons
        ></mat-paginator>
        <div *ngIf="!showCategoryTable">
          <button
            class="pull-right mat_blue"
            mat-raised-button
            color="primary"
            [disabled]="!sub_service"
            (click)="hideTable()"
          >
            Add New Category/Sub Category
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!showTable">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="pull-left">Create Category and Sub Category</h4>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-15">
      <mat-radio-group
        style="font-weight: 700; margin-left: unset"
        [(ngModel)]="searchChoice"
        name="searchChoice"
        (change)="
          changeRequestObject(searchChoice); searchReqObjChange(searchChoice)
        "
      >
        <mat-radio-button color="primary" value="0"
          >Add Category</mat-radio-button
        >
        <mat-radio-button color="primary" value="1" class="p-l-10"
          >Add Sub Category</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15 p-a-0">
      <form #commonForm="ngForm" autocomplete="off" class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Serviceline</mat-label>
            <mat-select
              required
              [(ngModel)]="service"
              (change)="
                getStates(service); selected_service_id = service.serviceID
              "
              name="serviceName"
              disabled
            >
              <mat-option
                *ngFor="let serviceline of serviceLines"
                [value]="serviceline"
                >{{ serviceline.serviceName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>State</mat-label>
            <mat-select
              required
              [(ngModel)]="state"
              name="stateName"
              (change)="getSubServices('get')"
              disabled
            >
              <mat-option *ngFor="let state of states" [value]="state">{{
                state.stateName
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Sub Service</mat-label>
            <mat-select
              required
              [(ngModel)]="sub_service"
              name="subserviceName"
              (change)="
                checkSubService(
                  selected_service_id,
                  sub_service.subServiceName
                );
                getDetails(sub_service)
              "
              disabled
            >
              <mat-option
                *ngFor="let subservice of subServices"
                [value]="subservice"
                >{{ subservice.subServiceName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      <form #form="ngForm" autocomplete="off">
        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15"
          *ngIf="!Add_Category_Subcategory_flag"
        >
          <mat-form-field [style.width]="'100%'">
            <mat-label>Category</mat-label>
            <mat-select
              [disabled]="cateDisabled"
              [(ngModel)]="category_ID"
              name="category Name"
              required
            >
              <mat-option
                *ngFor="let category of categories"
                [value]="category"
                >{{ category.categoryName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15"
          *ngIf="Add_Category_Subcategory_flag"
        >
          <mat-form-field [style.width]="'100%'" appMyProviderName>
            <mat-label>Category Name</mat-label>
            <input
              #categoryRef="ngModel"
              matInput
              [(ngModel)]="category_name"
              (keyup)="checkCategory($event)"
              name="category_name"
              minlength="2"
              maxlength="50"
              required
            />
            <mat-hint *ngIf="!categoryExist && categoryRef.touched">
              <span class="error_text" *ngIf="category_name?.length === 0"
                >Category is required</span
              >
            </mat-hint>
            <mat-hint class="error_text" *ngIf="categoryExist"
              >Category already exists
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="clearfix visible-sm visible-lg"></div>
        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15"
          *ngIf="Add_Category_Subcategory_flag"
        >
          <mat-form-field [style.width]="'100%'" appMyProviderName>
            <mat-label>Category Description</mat-label>
            <input
              matInput
              [(ngModel)]="categorydesc"
              name="categorydesc"
              maxlength="100"
            />
          </mat-form-field>
        </div>
        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15"
          *ngIf="!Add_Category_Subcategory_flag"
        >
          <mat-form-field [style.width]="'100%'" appMyProviderName>
            <mat-label>Sub Category Name</mat-label>
            <input
              required
              matInput
              #subCategories="ngModel"
              [(ngModel)]="subcategory"
              name="subcategory"
              (change)="
                checkSubCategory(subcategory, service, sub_service, category_ID)
              "
              minlength="2"
              maxlength="50"
            />
            <mat-hint class="error_text" *ngIf="subCategoryExist"
              >Sub Category already exists
            </mat-hint>
            <mat-hint
              [hidden]="subCategories.valid || subCategories.pristine"
              *ngIf="!subCategoryExist"
            >
              <span
                class="error_text"
                [hidden]="!subCategories.hasError('required')"
                >Sub Category is required</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15"
          *ngIf="!Add_Category_Subcategory_flag"
        >
          <mat-form-field [style.width]="'100%'" appMyProviderName>
            <mat-label>Description</mat-label>
            <input
              matInput
              [(ngModel)]="description"
              name="description"
              maxlength="100"
              required
            />
          </mat-form-field>
        </div>
      </form>
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-35"
        *ngIf="Add_Category_Subcategory_flag && showWellBeingFlag"
      >
        <mat-radio-group
          [(ngModel)]="well_being"
          name="well_being"
          style="font-weight: 700; margin-left: unset"
        >
          <mat-radio-button color="primary" [value]="true"
            >Well Being</mat-radio-button
          >
          <mat-radio-button color="primary" [value]="false" class="p-l-10"
            >Information</mat-radio-button
          >
        </mat-radio-group>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-3 m-t-15"
        *ngIf="form.valid && !categoryExist && !subCategoryExist"
      >
        <button
          md-mini-fab
          color="primary"
          class="xs-pull-right sm-pull-right md-pull-right lg-pull-left mat_icon_white"
          name="subServiceName"
          (click)="addNew()"
        >
          <mat-icon
            matSuffix
            class="mat-icon material-icons"
            role="img"
            aria-hidden="true"
            style="cursor: pointer"
            >add</mat-icon
          >
        </button>
      </div>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15"
      *ngIf="serviceList.data.length > 0 && Add_Category_Subcategory_flag"
    >
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="this.serviceList"
          class="table table-striped table-hover"
        >
          <ng-container matColumnDef="SNo">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="SubService">
            <th mat-header-cell *matHeaderCellDef>Sub Service</th>
            <td mat-cell *matCellDef="let element">
              {{ element.subServiceName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Category">
            <th mat-header-cell *matHeaderCellDef>Category Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.categoryName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="CategoryDescription">
            <th mat-header-cell *matHeaderCellDef>Category Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.categoryDesc }}
            </td>
          </ng-container>
          <ng-container matColumnDef="SubSubService">
            <th mat-header-cell *matHeaderCellDef>Sub-Sub Service</th>
            <td mat-cell *matCellDef="let element">Well Being</td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                class="cursorPointer"
                mdTooltip="delete"
                (click)="deleteRow(serviceList.data.indexOf(element))"
                >delete</mat-icon
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsTable2"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsTable2"
          ></tr>
        </table>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15"
      *ngIf="
        serviceSubCatList.data.length > 0 && !Add_Category_Subcategory_flag
      "
    >
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="this.serviceSubCatList"
          class="table table-striped table-hover"
        >
          <ng-container matColumnDef="SNo">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="SubService">
            <th mat-header-cell *matHeaderCellDef>Sub Service</th>
            <td mat-cell *matCellDef="let element">
              {{ element.subServiceName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Category">
            <th mat-header-cell *matHeaderCellDef>Category Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.categoryName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="subCategory">
            <th mat-header-cell *matHeaderCellDef>Sub Category</th>
            <td mat-cell *matCellDef="let element">
              {{ element.subCategoryName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="SubCategoryDescription">
            <th mat-header-cell *matHeaderCellDef>Sub Category Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.desc }}
            </td></ng-container
          >
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                class="cursorPointer"
                mdTooltip="Remove"
                (click)="
                  deleteRowSubCat(serviceSubCatList.data.indexOf(element))
                "
                >delete</mat-icon
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsTable3"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsTable3"
          ></tr>
        </table>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20"
      style="margin-bottom: 47px"
    >
      <button
        class="pull-left mat_blue"
        mat-raised-button
        color="primary"
        (click)="back()"
      >
        Back
      </button>
      <button
        class="pull-right m-t-10 mat_green"
        mat-raised-button
        color="accent"
        [disabled]="
          serviceSubCatList.data.length === 0 && serviceList.data.length === 0
        "
        (click)="finalsave()"
      >
        Save
      </button>
    </div>
  </div>
</div>
